.fz-color-AZ{
    .van-index-bar__index{
        font-size: 16px;
        margin-top: 7px;
        color: rgb(21,186,210);
        position: relative;
        top: 50px;
    }
}
.GG-sd-HHHH{
  .van-tabs__wrap{
    width: 70%;
  }
  .van-tab{
    flex-basis: 30% !important;
  }
}


  .dsdd-dsd{
    .van-tabs--line .van-tabs__wrap{
        position: fixed;
        z-index: 2;
      }
  }

.back-ADK-dd{
  .van-stepper--round .van-stepper__plus{
    background: rgb(116,116,116);
  }
  .van-stepper--round .van-stepper__minus{
    border: 1px solid rgb(116,116,116);
    color:rgb(116,116,116)
  }
}

.FGGG-Sf{
  .van-tab{
    flex-basis: 20% !important;
    width: 100% !important;
  }
}

.FSSDS-DJKA-A{
  .van-hairline--top-bottom{
    z-index: 1;
    width: 80%;
    margin-top: -20px;
    margin-left: 10%;
    box-shadow: 3px 3px 3px 3px #cccccc;
  }
}
